In [1]:
mylist = [12, 34.8, 500000, [6, 8], (5,)]
print("type(mylist)", type(mylist))
print("len(mylist)", len(mylist))

mytuple = (12, 34.8, 500000, [6, 8], (5,))
print("\ntype(mytuple)", type(mytuple))
print("len(mytuple)", len(mytuple))
print(mytuple)

type(mylist) <class 'list'>
len(mylist) 5

type(mytuple) <class 'tuple'>
len(mytuple) 5
(12, 34.8, 500000, [6, 8], (5,))

In [2]:
result = (99.9)
print(type(result), result)

result = (99.9 + 232 / 322 * 23) * 4
print(type(result), result)

<class 'float'> 99.9
<class 'float'> 465.8857142857143

In [3]:
another_tuple = (77.7,)
print("type(another_tuple)", type(another_tuple))
print("len(another_tuple) ", len(another_tuple))

type(another_tuple) <class 'tuple'>
len(another_tuple)  1

In [4]:
another_tuple

(77.7,)

In [5]:
empty_tuple = () 
print("type(empty_tuple):", type(empty_tuple))
print("len(empty_tuple) :", len(empty_tuple))

type(empty_tuple): <class 'tuple'>
len(empty_tuple) : 0

In [6]:
mytuple = 11, 22, 33
print("type(mytuple)    :", type(mytuple))
print("len(mytuple)     :", len(mytuple))
print(mytuple)

type(mytuple)    : <class 'tuple'>
len(mytuple)     : 3
(11, 22, 33)

In [7]:
mytuple = 1,
print("type(mytuple)    :", type(mytuple))
print("len(mytuple)     :", len(mytuple))
print(mytuple)

type(mytuple)    : <class 'tuple'>
len(mytuple)     : 1
(1,)

In [8]:
mytuple = (12, 5, 6, 8, (5,))
print(dir(mytuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [9]:
print("len(mytuple)           =", len(mytuple))
print("mytuple.__len__()      =", mytuple.__len__())
assert len(mytuple) == mytuple.__len__()

len(mytuple)           = 5
mytuple.__len__()      = 5

In [10]:
print("str(mytuple)           =", str(mytuple))
print("type(str(mytuple))     =", type(str(mytuple)))
print("mytuple.__str__()      =", mytuple.__str__())
print("type(mytuple.__str__())=", type(mytuple.__str__()))
assert str(mytuple) == mytuple.__str__()

str(mytuple)           = (12, 5, 6, 8, (5,))
type(str(mytuple))     = <class 'str'>
mytuple.__str__()      = (12, 5, 6, 8, (5,))
type(mytuple.__str__())= <class 'str'>

In [11]:
print()
print("mytuple * 3            =", mytuple * 3)
print("mytuple                =", mytuple)
print("mytuple.__mul__(3)     =", mytuple.__mul__(3))
print("mytuple                =", mytuple)

mytuple * 3            = (12, 5, 6, 8, (5,), 12, 5, 6, 8, (5,), 12, 5, 6, 8, (5,))
mytuple                = (12, 5, 6, 8, (5,))
mytuple.__mul__(3)     = (12, 5, 6, 8, (5,), 12, 5, 6, 8, (5,), 12, 5, 6, 8, (5,))
mytuple                = (12, 5, 6, 8, (5,))

In [12]:
print(f"{mytuple  == (12, 5, 6, 8, (5,))     = }")
print(f"{mytuple.__eq__((12, 5, 6, 8, (5,))) = }")

mytuple  == (12, 5, 6, 8, (5,))     = True
mytuple.__eq__((12, 5, 6, 8, (5,))) = True

In [13]:
print("\n Tuple Attributes excluding dunder methods")
for each_attribute in dir(mytuple):
    if not each_attribute.startswith("__"):
        print(each_attribute)

 Tuple Attributes excluding dunder methods
count
index

In [14]:
print("mytuple                =", mytuple)
print("mytuple.count(5)       =", mytuple.count(5))

mytuple                = (12, 5, 6, 8, (5,))
mytuple.count(5)       = 1

In [15]:
mytuple = (12, 5, 6, 8, (5))
#          0   1  2  3   4
print("mytuple                =", mytuple)
print("mytuple.count(5)       =", mytuple.count(5))

mytuple                = (12, 5, 6, 8, 5)
mytuple.count(5)       = 2

In [16]:
print("mytuple.index(8)       =", mytuple.index(8))
print("mytuple.index(5)       =", mytuple.index(5))

mytuple.index(8)       = 3
mytuple.index(5)       = 1

In [17]:
try:
    print("mytuple.index(55)      =", mytuple.index(55))
except ValueError as ex:
    print(ex)

tuple.index(x): x not in tuple

In [18]:
result = (9, 99) + (99,)
print("result   :", result)
 
result = ((9, 99) + (99,),) 
print("result   :", result)

result   : (9, 99, 99)
result   : ((9, 99, 99),)

In [19]:
result = (9, 99) + ((99,),),
print("result   :", result)

result   : ((9, 99, (99,)),)

In [20]:
result = (9, 99) + (11, 1)
print("result   :", result)

result   : (9, 99, 11, 1)

In [21]:
result = (9, 99) + tuple([11, 1])
print("result   :", result)

result = list((9, 99)) + [11, 1]
print("result   :", result)

result   : (9, 99, 11, 1)
result   : [9, 99, 11, 1]

In [22]:
print(f"{list('Python')  =}")
print(f"{tuple('Python') =}")

list('Python')  =['P', 'y', 't', 'h', 'o', 'n']
tuple('Python') =('P', 'y', 't', 'h', 'o', 'n')

In [23]:
print(f"{(1,) * 3      =}")
print(f"{(1, 2) * 3    =}")
print(f"{(1, (2,)) * 3 =}")

(1,) * 3      =(1, 1, 1)
(1, 2) * 3    =(1, 2, 1, 2, 1, 2)
(1, (2,)) * 3 =(1, (2,), 1, (2,), 1, (2,))

In [24]:
mytuple = (1, 2, 3)
print("mytuple", mytuple, id(mytuple))

mytuple (1, 2, 3) 124118652282752

In [25]:
print(f"{mytuple[2] =}")

mytuple[2] =3

In [26]:
try:
    mytuple[2] = "2.2222"
except TypeError as ex:
    print(ex)
    print("tuple objects are not editable")

'tuple' object does not support item assignment
tuple objects are not editable

In [27]:
print("\noverwriting (re-assigning)")
mytuple = (1, "2.2222", 3)
print("mytuple", mytuple, id(mytuple))

overwriting (re-assigning)
mytuple (1, '2.2222', 3) 124118650335744

In [28]:
student_details = ("Charan", 26, "01/01/2025")
print(f"{type(student_details)=}")
print(f"{student_details      =}")

print("Student Name:", student_details[0])
print("Student Age :", student_details[1])
print("Student DOB :", student_details[2])

type(student_details)=<class 'tuple'>
student_details      =('Charan', 26, '01/01/2025')
Student Name: Charan
Student Age : 26
Student DOB : 01/01/2025

In [29]:
import collections

print(dir(collections))

['ChainMap', 'Counter', 'OrderedDict', 'UserDict', 'UserList', 'UserString', '_Link', '_OrderedDictItemsView', '_OrderedDictKeysView', '_OrderedDictValuesView', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '_chain', '_collections_abc', '_count_elements', '_deque_iterator', '_eq', '_iskeyword', '_itemgetter', '_proxy', '_recursive_repr', '_repeat', '_starmap', '_sys', '_tuplegetter', 'abc', 'defaultdict', 'deque', 'namedtuple']

In [30]:
Students = collections.namedtuple("Students", ("name", "age", "dob"))
Students

__main__.Students

In [31]:
Students("Charan", "26", "01/01/2025")

Students(name='Charan', age='26', dob='01/01/2025')

In [32]:
student_details2 = Students("Charan", 26, "01/01/2025")

In [33]:
type(student_details2)

__main__.Students

In [34]:
print()
print("Student Name:", student_details2[0])
print("Student Age :", student_details2[1])
print("Student DOB :", student_details2[2])


print()
print("Student Name:", student_details2.name)
print("Student Age :", student_details2.age)
print("Student DOB :", student_details2.dob)

Student Name: Charan
Student Age : 26
Student DOB : 01/01/2025

Student Name: Charan
Student Age : 26
Student DOB : 01/01/2025

In [35]:
dir(student_details2)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__match_args__',
 '__module__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '_asdict',
 '_field_defaults',
 '_fields',
 '_make',
 '_replace',
 'age',
 'count',
 'dob',
 'index',
 'name']

In [36]:
print(f"{getattr(student_details2, 'name') =}")
assert student_details2.name == getattr(student_details2, "name")
assert student_details2.age == getattr(student_details2, "age")
assert student_details2.dob == getattr(student_details2, "dob")

getattr(student_details2, 'name') ='Charan'

In [37]:
n1, n2 = 1, 2, 3, 4, 5

ValueError: too many values to unpack (expected 2)

In [38]:
n1, *n2 = 1, 2, 3, 4, 5
print(f"n1={n1} \nn2={n2}")

n1=1
n2=[2, 3, 4, 5]

In [39]:
n1, *n2, n3 = 1, 2, 3, 4, 5
print(f"n1={n1} \nn2={n2} \nn3={n3}")

n1=1
n2=[2, 3, 4]
n3=5