In [1]:
print("" % ())
print("My lucky number is %d")

My lucky number is %d

In [2]:
print("My lucky number is %d" % (12))
print("My lucky number is %d" % 12)

My lucky number is 12
My lucky number is 12

In [3]:
print("My lucky number is %d" % 12.34)

My lucky number is 12

In [4]:
print("My lucky number is %s" % "12")

My lucky number is 12

In [5]:
print("My lucky number is %f" % 12.34)
print("My lucky number is %f" % 12) 
print("My lucky number is %f" % False)

My lucky number is 12.340000
My lucky number is 12.000000
My lucky number is 0.000000

In [6]:
print() 
print("My lucky number is %s" % True)
print("My lucky number is %s" % None)
print("My lucky number is %s" % 1)
print("My lucky number is %s" % 13.4)
print("My lucky number is %s" % 133224234)
print("My lucky number is %s" % "python")

My lucky number is True
My lucky number is None
My lucky number is 1
My lucky number is 13.4
My lucky number is 133224234
My lucky number is python

In [7]:
print() 
print("My lucky number is %r" % True)
print("My lucky number is %r" % None)
print("My lucky number is %r" % 1)
print("My lucky number is %r" % 13.4)
print("My lucky number is %r" % 133224234)
print("My lucky number is %r" % "python")

My lucky number is True
My lucky number is None
My lucky number is 1
My lucky number is 13.4
My lucky number is 133224234
My lucky number is 'python'

In [8]:
%o - octal
print("%o" % 34, oct(34))

UsageError: Line magic function `%o` not found.

In [9]:
# %o - octal
print("%o" % 34, oct(34))

42 0o42

In [10]:
print("%x" % 34, hex(34))

22 0x22

In [11]:
print("%X" % 34, hex(34))

22 0x22

In [12]:
print("%s" % "12")
print("%c" % "1")
print("%s" % "1")

12
1
1

In [13]:
print()  
print("%f" % 12.34)             
print("%F" % 12.34)              
print("%F" % 12.34223123123123)

12.340000
12.340000
12.342231

In [14]:
print("%g" % 12.34)             
print("%G" % 12.34)              
print("%G" % 12.34223123123123)

12.34
12.34
12.3422

In [15]:
print("%e" % 12.34)              
print("%E" % 12.34)              
print("%E" % 12.34223123123123)

1.234000e+01
1.234000E+01
1.234223E+01

In [16]:
import math

print(math.pi)              
print("%d" % math.pi)       
print("%f" % math.pi)       

print("%9f" % math.pi)      
print("%9.3f" % math.pi)

3.141592653589793
3
3.141593
 3.141593
    3.142

In [17]:
print("lucky My lucky number is %d only." % 786)
print("pi value is %f!!!!!!!!!!" % 3.1416)
print("pi value is %10f!!!!!!!!!!" % 3.1416)
print("pi value is %10.3f!!!!!!!!!!" % 3.1416)
print("pi value is %010.3f!!!!!!!!!!" % 3.1416)

lucky My lucky number is 786 only.
pi value is 3.141600!!!!!!!!!!
pi value is   3.141600!!!!!!!!!!
pi value is      3.142!!!!!!!!!!
pi value is 000003.142!!!!!!!!!!

In [18]:
print("my name is %s - %s." % ("Udhay", "Prakash"))

my name is Udhay - Prakash.

In [19]:
print("My name is %s. I am %d old paying a tax of %f")

My name is %s. I am %d old paying a tax of %f

In [20]:
print("My name is %s. I am %d old paying a tax of %f" % ("Udhay", 99, 15.5))

My name is Udhay. I am 99 old paying a tax of 15.500000

In [21]:
print("My name is %r. I am %r old paying a tax of %r" % ("Udhay", "78", 15.5))
print("My name is %s. I am %s old paying a tax of %s" % ("Udhay", "78", 15.5))

My name is 'Udhay'. I am '78' old paying a tax of 15.5
My name is Udhay. I am 78 old paying a tax of 15.5

In [22]:
print(
    "%(language)s has %(My lucky number)03d quote types."
    % {"language": "Python", "My lucky number": 2}
)
print(
    "%(language)s has %(My lucky number)03d quote types."
    % { "My lucky number": 2, "language": "Python"}
)

Python has 002 quote types.
Python has 002 quote types.

In [23]:
print("2".zfill(3))    
print("%03d" % 2)       
print("%3d" % 2)

002
002
  2

In [24]:
print("" % ())         
print("{}".format(""))

In [25]:
print("{}".format("udhay"))         
print("{{}}".format("udhay"))       
print("{{{}}}".format("udhay"))

udhay
{}
{udhay}

In [26]:
print("{} and {}".format("cat", "mouse"))
print("{} and {}".format(213, "mouse"))
print("{} and {}".format(213.0, True))
print("{} and {}".format(None, True))

cat and mouse
213 and mouse
213.0 and True
None and True

In [27]:
print("{} and {}".format(None, True))
print("{0} and {1}".format(None, True))
print("{1} and {0}".format(None, True))

None and True
None and True
True and None

In [28]:
print("{0} and {0}".format(None))

None and None

In [29]:
print("{}".format(1234567890.88))       
print("{:}".format(1234567890.88))      
print("{:,}".format(1234567890.88))     
print("{:_}".format(1234567890.88))     
print("{:-}".format(1234567890.88))     
print("{:+}".format(1234567890.88))    
print("{:+}".format(-1234567890.88))

1234567890.88
1234567890.88
1,234,567,890.88
1_234_567_890.88
1234567890.88
+1234567890.88
-1234567890.88

In [30]:
print("{:=10}".format(12348))   
print("{:0=10}".format(12348))  
print("{:a=10}".format(12348))

     12348
0000012348
aaaaa12348

In [31]:
print("{:<20}".format("left aligned"))     
print("{:>20}".format("right aligned"))     
print("{:^20}".format("centered"))

left aligned
       right aligned
      centered

In [32]:
print("{:-^20}".format("centered"))
print("{:*^20}".format("centered"))

------centered------
******centered******

In [33]:
print("{}".format(1024), 1024)        
print("{:b}".format(1024), bin(1024))  
print("{:o}".format(1024), oct(1024))  
print("{:x}".format(1024), hex(1024))  
"""
>>> "int: {0:d};  hex: {0:x};  oct: {0:o};  bin: {0:b}".format(42)
'int: 42;  hex: 2a;  oct: 52;  bin: 101010'
>>> # with 0x, 0o, or 0b as prefix:
>>> "int: {0:d};  hex: {0:#x};  oct: {0:#o};  bin: {0:#b}".format(42)
'int: 42;  hex: 0x2a;  oct: 0o52;  bin: 0b101010'
"""

1024 1024
10000000000 0b10000000000
2000 0o2000
400 0x400

'\n>>> "int: {0:d};  hex: {0:x};  oct: {0:o};  bin: {0:b}".format(42)\n\'int: 42;  hex: 2a;  oct: 52;  bin: 101010\'\n>>> # with 0x, 0o, or 0b as prefix:\n>>> "int: {0:d};  hex: {0:#x};  oct: {0:#o};  bin: {0:#b}".format(42)\n\'int: 42;  hex: 0x2a;  oct: 0o52;  bin: 0b101010\'\n'

In [34]:
print("math.pi", math.pi) 
print("{}".format(math.pi))

math.pi 3.141592653589793
3.141592653589793

In [35]:
print("{:f}".format(math.pi))  
print("{:F}".format(math.pi))  
print("{:g}".format(math.pi))

3.141593
3.141593
3.14159

In [36]:
print("{:f}".format(math.pi))       
print("{:9f}".format(math.pi))      
print("{:9.3f}".format(math.pi))

3.141593
 3.141593
    3.142

In [37]:
print("{:%}".format(math.pi))
print("{:%}".format(7))

314.159265%
700.000000%

In [38]:
print("{:}%".format(math.pi))

3.141592653589793%

In [39]:
print("Name:{} Age:{} Salary:{}".format("udhay", 99, 9999.9999))

Name:udhay Age:99 Salary:9999.9999

In [40]:
print(
    """
        Name  :{}
        Age   :{}
        Salary:{}""".format(
        "udhay", 99, 9999.9999
    )
)

        Name  :udhay
        Age   :99
        Salary:9999.9999

In [41]:
print(
    """
        Name  :{0}
        Age   :{1}
        Salary:{2}""".format(
        "udhay", 99, 9999.9999
    )
)

        Name  :udhay
        Age   :99
        Salary:9999.9999

In [42]:
print(
    """
        Name  :{0} Name  :{0} Salary:{2}
        Age   :{1} Name  :{0}
        Salary:{2}""".format(
        "udhay", 99, 9999.9999
    )
)

        Name  :udhay Name  :udhay Salary:9999.9999
        Age   :99 Name  :udhay
        Salary:9999.9999

In [43]:
print(
    """
        Name  :{1} Name  :{1} Salary:{1}
        Age   :{1} Name  :{1}
        Salary:{1}""".format(
        "udhay", 99, 9999.9999
    )
)

        Name  :99 Name  :99 Salary:99
        Age   :99 Name  :99
        Salary:99

In [44]:
print(
    """
        Name  :{NAME} Name  :{NAME} Salary:{SALARY}
        Age   :{AGE} Name  :{NAME}
        Salary:{SALARY}""".format(
        NAME="udhay", AGE=99, SALARY=9999.9999
    )
)

        Name  :udhay Name  :udhay Salary:9999.9999
        Age   :99 Name  :udhay
        Salary:9999.9999

In [45]:
print(
    """
        Dear {customer},
                Your account ending with {accound_last_4_digits} was
                deducted {transaction_amount} on {transaction_time}.

        Thank you for shopping. Visit again!!!
         """.format(
        customer="Vijay Malya",
        accound_last_4_digits=1134,
        transaction_amount="20.5 crores",
        transaction_time="12th June 1947 12:34:45",
    )
)

        Dear Vijay Malya,
                Your account ending with 1134 was
                deducted 20.5 crores on 12th June 1947 12:34:45.

        Thank you for shopping. Visit again!!!

In [46]:
result = {
    "customer": "Vijay Malya",
    "accound_last_4_digits": 1134,
    "transaction_amount": "20.5 crores",
    "transaction_time": "12th June 1947 12:34:45",
}

print(
    """
        Dear {customer},
                Your account ending with {accound_last_4_digits} was
                deducted {transaction_amount} on {transaction_time}.

        Thank you for shopping. Visit again!
         """.format(
        **result  # dictionary unpacking
    )
)

        Dear Vijay Malya,
                Your account ending with 1134 was
                deducted 20.5 crores on 12th June 1947 12:34:45.

        Thank you for shopping. Visit again!

In [47]:
print(
    """
        Dear {customer},
                Your account ending with {accound_last_4_digits} was
                deducted {transaction_amount} on {transaction_time}.

        Thank you for shopping. Visit again!
         """.format_map(
        result
    )
)

        Dear Vijay Malya,
                Your account ending with 1134 was
                deducted 20.5 crores on 12th June 1947 12:34:45.

        Thank you for shopping. Visit again!

In [48]:
print("" % ())         
print("{}".format(""))  
print(f'{""}')

In [49]:
print("Hello {name}")

Hello {name}

In [50]:
print("Hello {name}".format(name="world"))

Hello world

In [1]:
name = "World" # variable; not label
print("Hello {name}")
print(f"Hello {name}")

Hello {name}
Hello World

In [2]:
print(f"Hello {name1}")

NameError: name 'name1' is not defined

In [3]:
number = 12312.123
print(f"number is {number}")

number is 12312.123

In [4]:
print(f"Hello {name.upper()}")
print(f"Hello {name.title()}")

print(f"number is {int(number)}")

Hello WORLD
Hello World
number is 12312

In [5]:
value = 123123
print(f"The value is {float(value) + 3}")

The value is 123126.0

In [6]:
value = 1234567890.88
print(f"{value}")    
print(f"{value:}")   
print(f"{value:,}") 
print(f"{value:_}")  
print(f"{value:-}")  
print(f"{value:+}")

1234567890.88
1234567890.88
1,234,567,890.88
1_234_567_890.88
1234567890.88
+1234567890.88

In [7]:
print(f'{"left aligned":<20}')     
print(f'{"right aligned":>20}')     
print(f'{"centered":^20}')          
print(f'{"centered":-^20}')

left aligned
       right aligned
      centered
------centered------

In [8]:
print(f"{1024}", 1024)  
print(f"{1024:d}", 1024)  
print(f"{1024:b}", bin(1024))  
print(f"{1024:o}", oct(1024))  
print(f"{1024:x}", hex(1024))  
print(f"{1024:X}", hex(1024))

1024 1024
1024 1024
10000000000 0b10000000000
2000 0o2000
400 0x400
400 0x400

In [9]:
print("math.pi", math.pi)  
print(f"{math.pi}")  
print(f"{math.pi:f}")  
print(f"{math.pi:F}")  
print(f"{math.pi:g}")

NameError: name 'math' is not defined

In [10]:
print(f"{math.pi:f}")  
print(f"{math.pi:9f}")  
print(f"{math.pi:9.3f}")

NameError: name 'math' is not defined

In [11]:
import math
print("math.pi", math.pi)  
print(f"{math.pi}")  
print(f"{math.pi:f}")  
print(f"{math.pi:F}")  
print(f"{math.pi:g}")

math.pi 3.141592653589793
3.141592653589793
3.141593
3.141593
3.14159

In [12]:
print(f"{math.pi:f}")  
print(f"{math.pi:9f}")  
print(f"{math.pi:9.3f}")

3.141593
 3.141593
    3.142

In [13]:
print(f"{'quoted string'}")
print(f'{"quoted string"}')

quoted string
quoted string

In [14]:
print(f"{4 * 10}")  # 40
print(f"{{4*10}}")  # {4*10}
print(f"{{{4 * 10}}}")  # {40}

40
{4*10}
{40}

In [15]:
print(f'{"quoted string"}')  
print(f'{{"quoted string"}}') 
print(f'{{{"quoted string"}}}')

quoted string
{"quoted string"}
{quoted string}

In [16]:
print(f"x={4 * 10}\n")
print(rf"x={4 * 10}\n")
print(fr"x={4 * 10}\n")

x=40

x=40\n
x=40\n

In [17]:
import decimal

In [18]:
width = 10
precision = 4
value = decimal.Decimal("12.345688687687687687687687687687687686876868686876876876877")
print(f"result: {value}")
print(f"result: {value:{width}.{precision}}")

result: 12.345688687687687687687687687687687686876868686876876876877
result:      12.35

In [19]:
value = 12.345688687687687687687687687687687686876868686876876876877
value

12.345688687687687

In [20]:
name = "Python:αλεπού"
print(f"{name!s}") 
print(f"{name!r}") 
print(f"{name!a}")

Python:αλεπού
'Python:αλεπού'
'Python:\u03b1\u03bb\u03b5\u03c0\u03bf\u03cd'

In [21]:
from datetime import datetime 

today = datetime.now()
print(f"{today:%Y-%m-%d}")

2024-12-02

In [22]:
language = "Python"
print(language)

Python

In [23]:
print("language =", language)
print("language = %s" % (language))
print("language = {}".format(language))
print(f"language = {language}")

print(f"{language = }")

language = Python
language = Python
language = Python
language = Python
language = 'Python'

In [24]:
num = 1234
print(f"num = {num}")
print(f"{num = }")

num = 1234
num = 1234

In [25]:
print(f'NUmber ={num}')

NUmber =1234

In [26]:
print(f"{num     = }")
print(f"{num     = }")
print(f"{num * 3 = }")
print(f"{num / 3 = }")
print(f"{num % 3 = }")

num     = 1234
num     = 1234
num * 3 = 3702
num / 3 = 411.3333333333333
num % 3 = 1

In [27]:
print(f"language : {language}")

language : Python

In [28]:
print(f"{language :}")
print(f"{language =}")

Python
language ='Python'

In [29]:
print(f"language is {language}")

language is Python