In [1]:
num = 12
print("num=", num, type(num))

num= 12 <class 'int'>

In [2]:
print(12, float(12))

12 12.0

In [3]:
12, str(12)

(12, '12')

In [4]:
print(12, str(12))

12 12

In [5]:
print(3.1416, int(3.1416))  # 3.1416,  3
print(3.1416, str(3.1416))  # 3.1416, '3.1416'

3.1416 3
3.1416 3.1416

In [6]:
print("23", int("23"))
print("23 ", int("23 ")) 
print("23 ", int("    23 "))

23 23
23  23
23  23

In [7]:
print("23   ", float("23"))
print("23.24", float("23.24"))
print("23.  ", float("23."))

23    23.0
23.24 23.24
23.   23.0

In [8]:
float()                 
float("+1.23")          
float("   -12345\n")    
float("1e-003")         
float("+1E6")           
float("-Infinity")      
float("-inf")

-inf

In [9]:
print("str(12)          ", str(12))
print("str(121233.12323)", str(121233.12323))
print("str(-0.000012)   ", str(-0.000012))
print("str(True)        ", str(True))
print("str(None)        ", str(None))

str(12)           12
str(121233.12323) 121233.12323
str(-0.000012)    -1.2e-05
str(True)         True
str(None)         None

In [10]:
num1 = 33
print("num1 =", num1, type(num1))

num1 = 33 <class 'int'>

In [11]:
bin(num1)

'0b100001'

In [12]:
print(23, bin(23), type(bin(23)))

23 0b10111 <class 'str'>

In [13]:
bin(23.24)

TypeError: 'float' object cannot be interpreted as an integer

In [14]:
print("0b1001", int("0b1001", base=0))  
print("1001  ", int("1001", base=0))    
print("bin(9)", int(bin(9), base=0))

0b1001 9
1001   1001
bin(9) 9

In [15]:

print((9).bit_length())  
print((23).bit_length())

4
5

In [16]:
print("oct(9)  ", oct(9))    
print("oct(-23)", oct(-23))

oct(9)   0o11
oct(-23) -0o27

In [17]:
"%#o" % 10, "%o" % 10  # ('0o12', '12')
format(10, "#o"), format(10, "o")  # ('0o12', '12')
f"{10:#o}", f"{10:o}"  # ('0o12', '12')

('0o12', '12')

In [18]:
print(int(oct(9), base=8))  
print(int("0o11", base=8))  
print(int("11", base=8))  
print(int("11"))

9
9
9
11

In [19]:
print("hex(9)  ", hex(9))  
print("hex(-23)", hex(-23))

hex(9)   0x9
hex(-23) -0x17

In [20]:
print(int(hex(-23), base=16))  
print(int("-0x17", base=16))  
print(int("-17", base=16))  
print(int("-17"))

-23
-23
-23
-17

In [21]:
"%#x" % 255, "%x" % 255, "%X" % 255  # ('0xff', 'ff', 'FF')
format(255, "#x"), format(255, "x"), format(255, "X")  # ('0xff', 'ff', 'FF')
f"{255:#x}", f"{255:x}", f"{255:X}"  # ('0xff', 'ff', 'FF')

('0xff', 'ff', 'FF')

In [22]:
print((-2.0).is_integer())  # True
print((-2.1).is_integer())  # False
print((-1.9999).is_integer())  # False

True
False
False

In [23]:
print(int("42"))  
print(int("४२"))        
print(int("٤٢"))  
print(int("४२", 16))    
print(int("४२", base=16))

42
42
42
66
66

In [24]:
for num in ["౦", "౧", "౨", "౩", "౪", "౫", "౬", "౭", "౮", "౯"]:
    print(num, int(num, base=16))

౦ 0
౧ 1
౨ 2
౩ 3
౪ 4
౫ 5
౬ 6
౭ 7
౮ 8
౯ 9