In [1]:
language = 'Python Programming'
print(language, type(language))

Python Programming <class 'str'>

In [2]:
language = "Python Programming"
print(language, type(language))

Python Programming <class 'str'>

In [3]:
language = '''Python Programming'''
print(language, type(language))

Python Programming <class 'str'>

In [4]:
language = """Python Programming"""
print(language, type(language))

Python Programming <class 'str'>

In [5]:
language = 'Python Programming'
print(language, type(language))

Python Programming <class 'str'>

In [6]:
question = 'How are you ?'
print(question, type(question))

How are you ? <class 'str'>

In [7]:
where_abouts = 'what\'s up !'
print(where_abouts, type(where_abouts))

what's up ! <class 'str'>

In [8]:
other_string = 'what\'s going in yours\' in-law\'s house'
print(other_string)

what's going in yours' in-law's house

In [9]:
sql_cmd = '''select * from mytable where name = 'udhay' and profession like "%work" '''
print(sql_cmd)

select * from mytable where name = 'udhay' and profession like "%work"

In [10]:
some_other_str = """ python -c 'awdwad' asdss "sfdsdfd", '''dedfdfwef sd -m jd;jd''' """
print(some_other_str)

 python -c 'awdwad' asdss "sfdsdfd", '''dedfdfwef sd -m jd;jd'''

In [11]:
print("\n\n")

In [12]:
print(
    'Today is an awesome day\
    to learn python'
)

Today is an awesome day    to learn python

In [13]:
print(
    "Today is an awesome day\
    to learn python"
)

Today is an awesome day    to learn python

In [14]:
print(
    '''Today is an awesome day\
    to learn python'''
)

Today is an awesome day    to learn python

In [15]:
print(
    """Today is an awesome day\
    to learn python"""
)

Today is an awesome day    to learn python

In [16]:
print(
    '''Today is an awesome day
    to learn python'''
)

Today is an awesome day
    to learn python

In [17]:
print(
    """Today is an awesome day
    to learn python"""
)

Today is an awesome day
    to learn python

In [18]:
print(
    """
    a - apple
    b - ball
    c - cat
    d - dog"""
)

    a - apple
    b - ball
    c - cat
    d - dog

In [19]:
sql_cmd = """
    Select  *
    from table1 t1
    LEFT JOIN table2 t2 on t1.id = t2.id
    ORDER BY t1.id;
"""
print(sql_cmd)

    Select  *
    from table1 t1
    LEFT JOIN table2 t2 on t1.id = t2.id
    ORDER BY t1.id;

In [20]:
my_string = ''' select * from my_table where column='python' and column2 = "django"'''
print(my_string)

 select * from my_table where column='python' and column2 = "django"

In [21]:
my_string = """  select * from my_table where column='python' and column2 = "django" """

In [22]:
my_string = """  select * from my_table where column='python' and column2 = "django";"""
print(my_string)

  select * from my_table where column='python' and column2 = "django";

In [23]:
my_string = ''' select * from my_table where column='python' and column2 = 'django' '''

In [24]:
my_string = ''' select * from my_table where column='python' and column2 = 'django'; '''

In [25]:
language = 'Python Programming'
print(language, type(language))

Python Programming <class 'str'>

In [26]:
print("len(language)=", len(language))

len(language)= 18

In [27]:
print("language    :", language)
print("language[14]:", language[14])
print("language[6] :", language[6])
print("language[17]:", language[17])

language    : Python Programming
language[14]: m
language[6] :
language[17]: g

In [28]:
print("language[0]   :", language[0])
print("language[-0]  :", language[-0])

language[0]   : P
language[-0]  : P

In [29]:
-0

0

In [30]:
print("language[-3]  :", language[-3])
print("len(language) :", len(language))
print("language[len(language)-3]  :", language[len(language) - 3])

language[-3]  : i
len(language) : 18
language[len(language)-3]  : i

In [31]:
print("language[-18] :", language[-18])
print("language[0]   :", language[0])

language[-18] : P
language[0]   : P

In [32]:
print("language[0]    :", language[0])

language[0]    : P

In [33]:
print("String Slicing")  # [start_index: final_index]
print("language[0:11] :", language[0:11])

String Slicing
language[0:11] : Python Prog

In [34]:
print("language[5:17] :", language[5:17])

language[5:17] : n Programmin

In [35]:
print("language[7:10] :", language[7:10])

language[7:10] : Pro

In [36]:
print("language[0:5]  :", language[0:5]) 
print("language[0:6]  :", language[0:6])

language[0:5]  : Pytho
language[0:6]  : Python

In [37]:
print("language[7:18] :", language[7:18])
print("language[7:999]:", language[7:999])
print("language[45:87]:", language[45:87])

language[7:18] : Programming
language[7:999]: Programming
language[45:87]: