In [1]:
9 == 9

True

In [2]:
'9' == '9'

True

In [3]:
9 == '9'

False

In [ ]:
num1 = 100
num2 = 200

In [4]:
print(f"{num1 == num2 = }")
print(f"{num1 is num2 = }")
print(f"{id(num1) = } \t {id(num2) =}")

NameError: name 'num1' is not defined

In [5]:
num1 = 100
num2 = 200

In [6]:
print (num1)
print (num2)

100
200

In [7]:
print(f"{num1 == num2 = }")
print(f"{num1 is num2 = }")
print(f"{id(num1) = } \t {id(num2) =}")

num1 == num2 = False
num1 is num2 = False
id(num1) = 96397753660424 	 id(num2) =96397753663624

In [8]:

num1 = 200

In [9]:
num1

200

In [10]:

num2

200

In [11]:
print(f"{num1 = }")
print(f"{num2 = }")
print(f"{num1 == num2 = }")
print(f"{num1 is num2 = }")
print(f"{id(num1) = } \t {id(num2) =}")

num1 = 200
num2 = 200
num1 == num2 = True
num1 is num2 = True
id(num1) = 96397753663624 	 id(num2) =96397753663624

In [12]:
num3 = 300

In [13]:
num4 = 300

In [14]:
print(f"{num3 =} \t {num4 =}")
print(f"{num3 == num4 = }")
print(f"{num3 is num4 = }")
print(f"{id(num3) = } \t {id(num4) =}")

num3 =300 	 num4 =300
num3 == num4 = True
num3 is num4 = False
id(num3) = 140698048412560 	 id(num4) =140698048412368

In [15]:
num3 = 300.33
num4 = 300.33
print(f"{num3 =} \t {num4 =}")
print(f"{num3 == num4 = }")
print(f"{num3 is num4 = }")
print(f"{id(num3) = } \t {id(num4) =}")

num3 =300.33 	 num4 =300.33
num3 == num4 = True
num3 is num4 = False
id(num3) = 140698346749712 	 id(num4) =140698346749552

In [16]:
num3 = 12.33
num4 = 12.33
print(f"{num3 =} \t {num4 =}")
print(f"{num3 == num4 = }")
print(f"{num3 is num4 = }")
print(f"{id(num3) = } \t {id(num4) =}")

num3 =12.33 	 num4 =12.33
num3 == num4 = True
num3 is num4 = False
id(num3) = 140698348844816 	 id(num4) =140698346749456

In [17]:
num3 = "Udhay"
num4 = "Udhay"
print(f"{num3 =} \t {num4 =}")
print(f"{num3 == num4 = }")
print(f"{num3 is num4 = }")
print(f"{id(num3) = } \t {id(num4) =}")

num3 ='Udhay' 	 num4 ='Udhay'
num3 == num4 = True
num3 is num4 = True
id(num3) = 140698052454144 	 id(num4) =140698052454144

In [18]:
num3 = [1, 2, 3] # mutable
num4 = [1, 2, 3]
print(f"{num3 =} \t {num4 =}")
print(f"{num3 == num4 = }")
print(f"{num3 is num4 = }")
print(f"{id(num3) = } \t {id(num4) =}")

num3 =[1, 2, 3] 	 num4 =[1, 2, 3]
num3 == num4 = True
num3 is num4 = False
id(num3) = 140698048621056 	 id(num4) =140698297099264

In [19]:
num3 = (1, 2, 3)  # immutable
num4 = (1, 2, 3)
print(f"{num3 =} \t {num4 =}")
print(f"{num3 == num4 = }")
print(f"{num3 is num4 = }")
print(f"{id(num3) = } \t {id(num4) =}")

num3 =(1, 2, 3) 	 num4 =(1, 2, 3)
num3 == num4 = True
num3 is num4 = False
id(num3) = 140698048660544 	 id(num4) =140698048672064

In [20]:
num1 = 255
num2 = 255

In [21]:

num1 is num2

True

In [22]:
id(num1), id(num2)

(96397753665384, 96397753665384)

In [23]:
num1 = 256
num2 = 256

In [24]:

num1 is num2

True

In [25]:
id(num1), id(num2)

(96397753665416, 96397753665416)

In [26]:

num1 = 257
num2 = 257

In [27]:
num1 is num2

False

In [28]:
id(num1), id(num2)

(140698048412720, 140698048412784)

In [29]:
num1 = -5
num2 = -5

print(num1 is num2)
print(id(num1), id(num2))

True
96397753657064 96397753657064

In [30]:
num1 = -6
num2 = -6

print(num1 is num2)
print(id(num1), id(num2))

False
140698048412624 140698048412784