In [1]:
empty_dict = {}
print(empty_dict, type(empty_dict))

empty_dict = dict()
print(empty_dict, type(empty_dict))

empty_set = set()
print(empty_set, type(empty_set))

{} <class 'dict'>
{} <class 'dict'>
set() <class 'set'>

In [2]:
dict_with_single_pair = {"a": 11}
print(dict_with_single_pair, type(dict_with_single_pair))
print(f"{len(dict_with_single_pair) =}")

{'a': 11} <class 'dict'>
len(dict_with_single_pair) =1

In [3]:
print()
other_set = {12, 34}
print(other_set, type(other_set))

other_dict = {12: 34, 34: 56}
print(other_dict, type(other_dict))

{34, 12} <class 'set'>
{12: 34, 34: 56} <class 'dict'>

In [4]:
alphabhets = {"b": 2, "a": 1, "c": 3, "d": 4}
print(alphabhets)

{'b': 2, 'a': 1, 'c': 3, 'd': 4}

In [5]:
person_details = {
    "name": "G Charan",
    "age": 23,
    "salary": 1233123.12,
    "children": ["M", "J"],
    "parents": ("Sam R", "Michel R"),
    1: [12, 3, 12],
    -1213.213: {33, 33},
    ("Dr", "Mr"): "titles",
    None: "This is None",
    # [12, 23]: 'something',
    tuple([12, 23]): "something",
}

In [6]:
person_details

{'name': 'G Charan',
 'age': 23,
 'salary': 1233123.12,
 'children': ['M', 'J'],
 'parents': ('Sam R', 'Michel R'),
 1: [12, 3, 12],
 -1213.213: {33},
 ('Dr', 'Mr'): 'titles',
 None: 'This is None',
 (12, 23): 'something'}

In [7]:
from pprint import pprint, pp

pp(person_details)

{'name': 'G Charan',
 'age': 23,
 'salary': 1233123.12,
 'children': ['M', 'J'],
 'parents': ('Sam R', 'Michel R'),
 1: [12, 3, 12],
 -1213.213: {33},
 ('Dr', 'Mr'): 'titles',
 None: 'This is None',
 (12, 23): 'something'}

In [8]:
pprint(person_details)

{None: 'This is None',
 -1213.213: {33},
 1: [12, 3, 12],
 'age': 23,
 'children': ['M', 'J'],
 'name': 'G Charan',
 'parents': ('Sam R', 'Michel R'),
 'salary': 1233123.12,
 (12, 23): 'something',
 ('Dr', 'Mr'): 'titles'}

In [9]:
pprint(person_details, indent=4)

{   None: 'This is None',
    -1213.213: {33},
    1: [12, 3, 12],
    'age': 23,
    'children': ['M', 'J'],
    'name': 'G Charan',
    'parents': ('Sam R', 'Michel R'),
    'salary': 1233123.12,
    (12, 23): 'something',
    ('Dr', 'Mr'): 'titles'}

In [10]:
print(person_details)

{'name': 'G Charan', 'age': 23, 'salary': 1233123.12, 'children': ['M', 'J'], 'parents': ('Sam R', 'Michel R'), 1: [12, 3, 12], -1213.213: {33}, ('Dr', 'Mr'): 'titles', None: 'This is None', (12, 23): 'something'}

In [11]:
print(f"{person_details.keys()  =}")

person_details.keys()  =dict_keys(['name', 'age', 'salary', 'children', 'parents', 1, -1213.213, ('Dr', 'Mr'), None, (12, 23)])

In [12]:
person_details.values()

dict_values(['G Charan', 23, 1233123.12, ['M', 'J'], ('Sam R', 'Michel R'), [12, 3, 12], {33}, 'titles', 'This is None', 'something'])

In [13]:
person_details.items()

dict_items([('name', 'G Charan'), ('age', 23), ('salary', 1233123.12), ('children', ['M', 'J']), ('parents', ('Sam R', 'Michel R')), (1, [12, 3, 12]), (-1213.213, {33}), (('Dr', 'Mr'), 'titles'), (None, 'This is None'), ((12, 23), 'something')])

In [14]:
print("\n Iterating over the dictionary ")
for each in person_details:
    print(each)

 Iterating over the dictionary
name
age
salary
children
parents
1
-1213.213
('Dr', 'Mr')
None
(12, 23)

In [15]:
print("\n person_details.keys()")
for each in person_details.keys():
    print(each)

 person_details.keys()
name
age
salary
children
parents
1
-1213.213
('Dr', 'Mr')
None
(12, 23)

In [16]:
print("\n person_details.values()")
for each in person_details.values():
    print(each)

 person_details.values()
G Charan
23
1233123.12
['M', 'J']
('Sam R', 'Michel R')
[12, 3, 12]
{33}
titles
This is None
something

In [17]:
print("\n person_details.items()")
for each in person_details.items():
    print(each)

 person_details.items()
('name', 'G Charan')
('age', 23)
('salary', 1233123.12)
('children', ['M', 'J'])
('parents', ('Sam R', 'Michel R'))
(1, [12, 3, 12])
(-1213.213, {33})
(('Dr', 'Mr'), 'titles')
(None, 'This is None')
((12, 23), 'something')

In [18]:
print("\n person_details.items()")
for each_key, each_value in person_details.items():
    print(f"{each_key}\t{each_value}")

 person_details.items()
name	G Charan
age	23
salary	1233123.12
children	['M', 'J']
parents	('Sam R', 'Michel R')
1	[12, 3, 12]
-1213.213	{33}
('Dr', 'Mr')	titles
None	This is None
(12, 23)	something

In [19]:
employee = {
    "name": "Saurav Ganguly",
    "status": "retired",
    "salary": 12_222_213,
    "strike_rate": 85 / 100,
}

# Indexing in Dictionaries
print("Employee Name  :", employee["name"])
print("Employee Status:", employee["status"])

Employee Name  : Saurav Ganguly
Employee Status: retired

In [20]:
try:
    employee["no_of_centuries"]
except KeyError as ex:
    print(f"No such key :{str(ex)}")

No such key :'no_of_centuries'

In [21]:
print(f"Before change: {id(employee) = }")
employee["status"] = "rejoined"
print("Employee Status:", employee["status"])
print(f"After change : {id(employee) = }")

Before change: id(employee) = 134757320406144
Employee Status: rejoined
After change : id(employee) = 134757320406144

In [22]:
employee["no_of_centuries"] = 345

print(employee)
pprint(employee)

{'name': 'Saurav Ganguly', 'status': 'rejoined', 'salary': 12222213, 'strike_rate': 0.85, 'no_of_centuries': 345}
{'name': 'Saurav Ganguly',
 'no_of_centuries': 345,
 'salary': 12222213,
 'status': 'rejoined',
 'strike_rate': 0.85}

In [23]:
print(f"{employee['strike_rate'] =}")

try:
    print(f"{employee['no_of_catches'] =}")
except KeyError as ex:
    print(f"No such key :{str(ex)}")

employee['strike_rate'] =0.85
No such key :'no_of_catches'

In [24]:
print(f"{employee.get('strike_rate')                    =}")
print(f"{employee.get('no_of_catches')                  =}")

employee.get('strike_rate')                    =0.85
employee.get('no_of_catches')                  =None

In [25]:
print(f"{employee.get('no_of_catches', None)            =}")
print(f"{employee.get('no_of_catches', 'No such key')   =}")
print(f"{employee.get('no_of_catches', 234)             =}")

employee.get('no_of_catches', None)            =None
employee.get('no_of_catches', 'No such key')   ='No such key'
employee.get('no_of_catches', 234)             =234

In [26]:
employee

{'name': 'Saurav Ganguly',
 'status': 'rejoined',
 'salary': 12222213,
 'strike_rate': 0.85,
 'no_of_centuries': 345}

In [27]:
employee.setdefault('strike_rate')

0.85

In [28]:
print(f"{employee.setdefault('no_of_catches')      =}")

employee.setdefault('no_of_catches')      =None

In [29]:
employee

{'name': 'Saurav Ganguly',
 'status': 'rejoined',
 'salary': 12222213,
 'strike_rate': 0.85,
 'no_of_centuries': 345,
 'no_of_catches': None}

In [30]:
print(employee.setdefault('no_of_catches', 234))

None

In [31]:
print(f"{employee.setdefault('ODI_matches_played', 155) =}")
employee

employee.setdefault('ODI_matches_played', 155) =155

{'name': 'Saurav Ganguly',
 'status': 'rejoined',
 'salary': 12222213,
 'strike_rate': 0.85,
 'no_of_centuries': 345,
 'no_of_catches': None,
 'ODI_matches_played': 155}

In [32]:
print(f"{'no_of_catches' in employee            =}")
print(f"{employee.__contains__('no_of_catches')   =}")

print(f"{'no_of_wickets' in employee            =}")
print(f"{employee.__contains__('no_of_wickets') =}")

if "no_of_catches" in employee:
    print("no_of_catches:", employee["no_of_catches"])
else:
    print("No such key")

'no_of_catches' in employee            =True
employee.__contains__('no_of_catches')   =True
'no_of_wickets' in employee            =False
employee.__contains__('no_of_wickets') =False
no_of_catches: None

In [33]:
language = dict()
language

{}

In [34]:
language["name"] = "Python"
language["creator"] = "G Charan"

pp(language)

{'name': 'Python', 'creator': 'G Charan'}

In [35]:
language["latest_version"] = "2.7.16"
pp(language)

{'name': 'Python', 'creator': 'G Charan', 'latest_version': '2.7.16'}

In [36]:
python_dict = {
    "name": "Python",
    "maintainer": "Almighty",
    "latest_version": "3.8.5",
    "dev_version": "3.9",
}
pp(python_dict)

{'name': 'Python',
 'maintainer': 'Almighty',
 'latest_version': '3.8.5',
 'dev_version': '3.9'}

In [37]:
language + python_dict

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [38]:
print(f'{language    =}')
print(f'{python_dict =}')

language    ={'name': 'Python', 'creator': 'G Charan', 'latest_version': '2.7.16'}
python_dict ={'name': 'Python', 'maintainer': 'Almighty', 'latest_version': '3.8.5', 'dev_version': '3.9'}

In [39]:
language.update(python_dict)

In [40]:
print(f'{language    =}')
print(f'{python_dict =}')

language    ={'name': 'Python', 'creator': 'G Charan', 'latest_version': '3.8.5', 'maintainer': 'Almighty', 'dev_version': '3.9'}
python_dict ={'name': 'Python', 'maintainer': 'Almighty', 'latest_version': '3.8.5', 'dev_version': '3.9'}

In [41]:
python_dict.update({"dev_version": "3.9.0rc"})
pp(python_dict)

{'name': 'Python',
 'maintainer': 'Almighty',
 'latest_version': '3.8.5',
 'dev_version': '3.9.0rc'}

In [42]:
print(f"{python_dict.pop('maintainer') =}")
print(python_dict)

python_dict.pop('maintainer') ='Almighty'
{'name': 'Python', 'latest_version': '3.8.5', 'dev_version': '3.9.0rc'}

In [43]:
try:
    print(f"{python_dict.pop('maintainer') =}")
except KeyError as ex:
    print("no such key", ex)

no such key 'maintainer'

In [44]:
try:
    print(f"{python_dict.pop('maintainer') =}")
except KeyError as ex:
    print("no such key", ex)

no such key 'maintainer'

In [45]:
print(f"{python_dict.pop('maintainer', None) =}")
print(f"{python_dict.pop('maintainer', 'no such key') =}")

python_dict.pop('maintainer', None) =None
python_dict.pop('maintainer', 'no such key') ='no such key'

In [46]:
print(python_dict)

{'name': 'Python', 'latest_version': '3.8.5', 'dev_version': '3.9.0rc'}

In [47]:
print(f"{python_dict.popitem() =}")
print(f"{python_dict.popitem() =}")
print(python_dict)

python_dict.popitem() =('dev_version', '3.9.0rc')
python_dict.popitem() =('latest_version', '3.8.5')
{'name': 'Python'}

In [48]:
del python_dict["name"]
print(python_dict)

{}

In [49]:
del python_dict

In [50]:
python_dict

NameError: name 'python_dict' is not defined

In [51]:
a = {"one": 1}
b = {"one": 2, "two": 2}

In [52]:
c = {**a}

c

{'one': 1}

In [53]:
c = {**a, **b}

c

{'one': 2, 'two': 2}

In [54]:
c = { **b, **a}

c

{'one': 1, 'two': 2}

In [55]:
a = {"one": 1}
b = {"one": 2, "two": 2}

print(f"{a = }")
print(f"{b = }")
print()

a |= b
print(f"{a = }")
print(f"{b = }")

a = {'one': 1}
b = {'one': 2, 'two': 2}

a = {'one': 2, 'two': 2}
b = {'one': 2, 'two': 2}

In [56]:
print({0} | {False}) 
print({False} | {0})

{0}
{False}

In [57]:
print({0: "0"} | {False: "False"})
print({False: "False"} | {0: "0"})

{0: 'False'}
{False: '0'}

In [58]:
mydict = {0: "zero", False: "False", 1: "one", True: "True"}
print(mydict)

mydict = {False: "False", 0: "zero", True: "True", 1: "one"}
print(mydict)

{0: 'False', 1: 'True'}
{False: 'zero', True: 'one'}

In [59]:
animal = {"name": "zebra", "continent": ("Africa", "Asia")}
print(animal)

{'name': 'zebra', 'continent': ('Africa', 'Asia')}

In [60]:
animal_schema = {}
animal_schema = animal_schema.fromkeys(animal)
print(animal_schema)

{'name': None, 'continent': None}

In [61]:
animal_schema = animal_schema.fromkeys(animal, None)
print(animal_schema)

animal_schema = animal_schema.fromkeys(animal, "None")
print(animal_schema)

animal_schema = animal_schema.fromkeys(animal, "")
print(animal_schema)

{'name': None, 'continent': None}
{'name': 'None', 'continent': 'None'}
{'name': '', 'continent': ''}

In [62]:
print()
print(f"{id(animal) = }")
animal.clear()  # will flush the key-value pairs in dict
print(f"After dict.clear(), {animal =}")
print(f"{id(animal) = }")

id(animal) = 134757320462336
After dict.clear(), animal ={}
id(animal) = 134757320462336

In [63]:
a = {"one": 1, "two": 2, "three": 3}
b = dict(one=1, two=2, three=3)

c = dict([("two", 2), ("one", 1), ("three", 3)])
d = dict(zip(["one", "two", "three"], [1, 2, 3]))

e = dict({"three": 3, "one": 1, "two": 2})

assert a == b == c == d == e

In [64]:
list('python')

['p', 'y', 't', 'h', 'o', 'n']

In [65]:
tuple('python')

('p', 'y', 't', 'h', 'o', 'n')

In [66]:
set('python')

{'h', 'n', 'o', 'p', 't', 'y'}

In [67]:
data = [(1, "red"), (2, "blue"), (3, "yellow")]
print(dict(data))

data = [("red", 1), ("blue", 2), ("yellow", 3)]
print(dict(data))

data = (("red", 1), ("blue", 2), ("yellow", 3))
print(dict(data))

{1: 'red', 2: 'blue', 3: 'yellow'}
{'red': 1, 'blue': 2, 'yellow': 3}
{'red': 1, 'blue': 2, 'yellow': 3}

In [68]:
data = (["red", 1], ["blue", 2], ("yellow", 3))
print(dict(data))

{'red': 1, 'blue': 2, 'yellow': 3}

In [69]:
data = (["red", (1, "A")], ["blue", (2, "B")], ("yellow", (3, "C")))
print(dict(data))

data = ([("red", 1), "A"], [("blue", 2), "B"], ("yellow", (3, "C")))
print(dict(data))

{'red': (1, 'A'), 'blue': (2, 'B'), 'yellow': (3, 'C')}
{('red', 1): 'A', ('blue', 2): 'B', 'yellow': (3, 'C')}

In [70]:
cities = ("New Delhi", "New York", "Shangai", "Berlin")
countries = ["India", "USA", "China", "Germany"]


zip(cities, countries)

In [71]:
list(zip(cities, countries))

[('New Delhi', 'India'),
 ('New York', 'USA'),
 ('Shangai', 'China'),
 ('Berlin', 'Germany')]

In [72]:
cities_n_countries = dict(zip(cities, countries))
pprint(cities_n_countries)

{'Berlin': 'Germany',
 'New Delhi': 'India',
 'New York': 'USA',
 'Shangai': 'China'}

In [73]:
counties_n_cities = dict(zip(countries, cities))
pprint(counties_n_cities)

{'China': 'Shangai',
 'Germany': 'Berlin',
 'India': 'New Delhi',
 'USA': 'New York'}

In [74]:
print(dict(zip("Python", range(6))))

{'P': 0, 'y': 1, 't': 2, 'h': 3, 'o': 4, 'n': 5}

In [75]:
print(dict(zip("Python", "fish")))

{'P': 'f', 'y': 'i', 't': 's', 'h': 'h'}

In [76]:
def swap_keys_values(input_dict):
    return {v: k for k, v in input_dict.items()}

original_dict = {"a": 1, "b": 2, "c": 3}
swapped_dict = swap_keys_values(original_dict)

print("Original Dictionary:", original_dict)
print("Swapped Dictionary:", swapped_dict)

Original Dictionary: {'a': 1, 'b': 2, 'c': 3}
Swapped Dictionary: {1: 'a', 2: 'b', 3: 'c'}